@import url('shared.css');

header div {
	margin: auto;
	width: min-content;
	white-space: nowrap;
}

main {
	display: grid;
	grid-template-rows: repeat(3, minmax(0, 1fr));
	grid-template-columns: repeat(4, minmax(0, 1fr));

	gap: 30px;

	padding-bottom: 20px;
}

main > div {
	display: contents;
}

main > div div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	gap: 5px;
}

main > div div:nth-of-type(1) {
	grid-column: 1;
}

main > div div:nth-of-type(2) {
	grid-column: 2;
}

main > div div:nth-of-type(3) {
	grid-column: 3;
}

main > div div:nth-of-type(4) {
	grid-column: 4;
}

img {
	width: 100%;
	height: 100%;
}

#row1 div {
	grid-row: 1;
}

#row2 div {
	grid-row: 2;
}

#row3 div {
	grid-row: 3;
}

#row2 div:first-of-type,
#row2 div:last-of-type,
#row3 div:first-of-type,
#row3 div:last-of-type {
	display: flex;
	justify-content: space-around;
}

#row1 div:last-of-type {
	justify-content: flex-start;
}
