@import url('shared.css');

header div {
	margin: auto;
	width: min-content;
	white-space: nowrap;
}

main {
	display: grid;
	grid-template-rows: repeat(3, minmax(0, 1fr));
	grid-template-columns: repeat(4, minmax(0, 1fr));

	gap: 30px;
}

main > div {
	display: contents;
}

main > div div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	gap: 5px;
}

main > div div:nth-of-type(1) {
	grid-column: 1;
}

main > div div:nth-of-type(2) {
	grid-column: 2;
}

main > div div:nth-of-type(3) {
	grid-column: 3;
}

main > div div:nth-of-type(4) {
	grid-column: 4;
}

img {
	width: 100%;
	height: 100%;
}

#row1 div {
	grid-row: 1;
}

#row2 div {
	grid-row: 2;
}

#row3 div {
	grid-row: 3;
}

#row2 div:nth-of-type(2) {
	grid-row: 2 / row3;
}

#row2 div:nth-of-type(2) img {
	height: 80%;
}
