@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
	margin: 0;
	padding: 0;

	font-family: 'Roboto', sans-serif;
}

*:focus-visible {
	outline: 2px rgb(0, 238, 255) solid;
}

html,
body {
	height: 100%;
}

body {
	padding: 0 25px 0 25px;
	display: grid;
	grid-template-rows: 125px calc(100% - 125px);
}

header {
	display: flex;
	align-items: center;
}

img {
	background-color: rgb(199, 199, 199);
	border-radius: 5px;

	object-fit: cover;
}

h1,
h2,
h3 {
	min-height: 50px;

	display: flex;
	justify-content: center;
	align-items: center;
}

a:hover,
h1:hover,
h2:hover,
h3:hover {
	color: rgb(119, 119, 119);
}

h1:hover,
h2:hover,
h3:hover {
	cursor: pointer;
}

hr {
	border: none;
	border-top: 1px #777777 solid;
	height: 1px;
}
